@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


nav a.active ,nav a:hover{
  color: #fff;
  transition: .5s;
}

nav div.active , nav div:hover{
  color: #fff;
  transition: .5s;

}